<div
  class="tui-container tui-container_adaptive"
  *rxLet="card$; let card; rxSuspense: suspense"
>
  <div class="header">
    <h1 class="tui-text header-text" *ngIf="!editingTitle; else editingContent">
      {{ card.name }}
      <button
        tuiIconButton
        icon="tuiIconEditLarge"
        appearance="flat"
        class="action"
        (click)="editingTitle = !editingTitle; title.setValue(card.name)"
      ></button>
    </h1>
    <div class="header-actions" *ngIf="!card.archived">
      <button
        tuiButton
        icon="tuiIconCloseCircleLarge"
        appearance="flat"
        (click)="archive()"
      >
        Archive
      </button>
    </div>
    <ng-template #editingContent>
      <tui-input
        class="title-edit-input"
        [formControl]="title"
        tuiAutoFocus
        tuiTextfieldSize="m"
        (tuiActiveZoneChange)="onZoneChange($event)"
        (keydown.escape)="onEsc($event)"
        (keydown.enter)="onUpdateTitle()"
        [tuiTextfieldLabelOutside]="true"
      >
        {{ card.name }}
      </tui-input>
    </ng-template>
  </div>

  <tui-notification
    status="warning"
    class="tui-space_vertical-4 archived-notification"
    *ngIf="card.archived"
  >
    <div class="notification-content">
      This card is archived.
      <div class="notification-actions">
        <button tuiButton size="xs" appearance="accent" (click)="undoArchive()">
          Undo
        </button>
      </div>
    </div>
  </tui-notification>

  <div class="tui-space_top-6">
    <div class="editor-metadata">
      <div class="metadata-title">
        <tui-svg src="tuiIconTime" size="s"></tui-svg>
        Expiration date
      </div>
      <div class="metadata-input">
        <tui-input-date
          toNativeDate
          [tuiTextfieldCleaner]="true"
          [ngModel]="card.expiryDate"
          (ngModelChange)="adapter.actions.updateExpiryDate($event)"
          tuiTextfieldSize="s"
        ></tui-input-date>
      </div>
    </div>
  </div>

  <div class="tui-space_top-6">
    <div class="editor-metadata">
      <div class="metadata-title">
        <tui-svg src="tuiIconFlag" size="s"></tui-svg>
        Priority
      </div>
      <div class="metadata-input">
        <tui-select
          tuiTextfieldSize="s"
          [tuiTextfieldCleaner]="true"
          [ngModel]="card.priority"
          (ngModelChange)="adapter.actions.updatePriority($event)"
        >
          Choose a priority
          <tui-data-list-wrapper
            *tuiDataList
            [items]="['LOW', 'MEDIUM', 'HIGH']"
          ></tui-data-list-wrapper>
        </tui-select>
      </div>
    </div>
  </div>

  <h3 class="tui-space_top-12">Description</h3>

  <div class="editor-shell tui-space_top-12" [style.height.%]="100">
    <app-lexical-editor
      [content]="card.content"
      (editorChange)="editorChange($event)"
    ></app-lexical-editor>
  </div>

  <h3 class="tui-space_top-12">Attachments</h3>

  <div class="tui-space_top-6" *rxLet="project$; let project">
    <app-issue-attachments-uploader
      [project]="project"
      [card]="card"
      (addAttachment)="adapter.actions.addAttachment($event)"
    ></app-issue-attachments-uploader>
    <app-issue-attachments-table
      [attachments]="attachments$ | push"
      (deleteAttachment)="adapter.actions.deleteAttachment($event)"
    ></app-issue-attachments-table>
  </div>
</div>

<ng-template #suspense>
  <tui-loader
    size="xxl"
    class="suspense-loader"
    [textContent]="'Loading data...'"
    [overlay]="true"
  ></tui-loader>
</ng-template>
