<div
  *rxLet="list$; let list; strategy: 'native'"
  class="list-content tui-island__content"
  cdkDropList
  [id]="'list-' + list.$id"
  (cdkDropListDropped)="dropEvent.emit($event)"
>
  <div
    cdkDrag
    #ref
    [cdkDragData]="card"
    *rxFor="let card of cards$; trackBy: cardTrackBy; strategy: 'native'"
    class="card-wrapper"
  >
    <app-kanban-card
      [@tuiFadeIn]="{ duration: 200 }"
      [card]="card"
      [tuiDropdownContext]="contextMenu"
      (click)="openIssue(card)"
    ></app-kanban-card>

    <ng-template #contextMenu let-close="close" let-activeZone="activeZone">
      <tui-data-list
        role="menu"
        tuiDataListDropdownManager
        [style.width.rem]="8"
        [tuiActiveZoneParent]="activeZone"
      >
        <button tuiOption (click)="archiveCard.emit(card.$id); close()">
          Archive
          <tui-svg class="context-icon" src="tuiIconFolder"></tui-svg>
        </button>
      </tui-data-list>
    </ng-template>

    <div
      class="custom-placeholder"
      [style.height.px]="ref.scrollHeight"
      *cdkDragPlaceholder
    ></div>
  </div>
</div>
