:host {
  display: flex;
  flex: 1;
}

.list-content {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  height: 100%;
  width: 100%;
}

.list-title-add {
  display: flex;
  align-items: center;
}

.cdk-drop-list-dragging .card-wrapper:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.custom-placeholder {
  background: var(--tui-secondary);
  border-radius: var(--tui-radius-l);
  border: dotted 3px var(--tui-secondary-active);
  width: auto;
  height: 40px;
  z-index: 999;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.empty-list-placeholder {
  background: var(--tui-base-03);
  border-radius: var(--tui-radius-l);
  border: dotted 3px var(--tui-base-04);
  width: auto;
  height: 80px;
  z-index: 999;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
