.wrapper {
  display: flex;
  width: 100%;

  .welcome {
    flex: 1;
  }

  .actions {
    display: flex;
    align-items: center;
  }
}

.welcome {
  display: flex;
  align-items: center;

  &__title {
    &-label {
      font-weight: 500;
    }
    &-name {
      margin: 0;
    }
  }
}
