@import '~@taiga-ui/core/styles/taiga-ui-local';

.toolbar {
  display: flex;
  margin-bottom: 1px;
  background: #fff;
  padding: 4px;
  vertical-align: middle;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--tui-radius-l);
  z-index: 999;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.toolbar button.toolbar-item {
  border: 0;
  display: flex;
  background: none;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  vertical-align: middle;
  flex-shrink: 0;
  align-items: center;
}

.toolbar button.toolbar-item:disabled {
  cursor: not-allowed;
}

.toolbar button.toolbar-item.spaced {
  margin-right: 2px;
}

.toolbar button.toolbar-item i.format {
  background-size: contain;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-top: 2px;
  vertical-align: -0.25em;
  display: flex;
  opacity: 0.6;
}

.toolbar button.toolbar-item:disabled i.format {
  opacity: 0.2;
}

.toolbar button.toolbar-item.active {
  background-color: rgba(223, 232, 250, 0.3);
}

.toolbar button.toolbar-item.active i {
  opacity: 1;
}

.toolbar .toolbar-item:hover:not([disabled]) {
  background-color: #eee;
}

.toolbar select.toolbar-item {
  border: 0;
  display: flex;
  background: none;
  border-radius: 10px;
  padding: 8px;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 70px;
  font-size: 14px;
  color: #777;
  text-overflow: ellipsis;
}

.toolbar select.code-language {
  text-transform: capitalize;
  width: 130px;
}

.toolbar .toolbar-item .text {
  display: flex;
  line-height: 20px;
  vertical-align: middle;
  font-size: 14px;
  color: #777;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 20px;
  text-align: left;
  padding-right: 10px;
}

.toolbar .toolbar-item .icon {
  display: flex;
  width: 20px;
  height: 20px;
  user-select: none;
  margin-right: 8px;
  line-height: 16px;
  background-size: contain;
}

.toolbar i.chevron-down {
  margin-top: 3px;
  width: 16px;
  height: 16px;
  display: flex;
  user-select: none;
}

.toolbar i.chevron-down.inside {
  width: 16px;
  height: 16px;
  display: flex;
  margin-left: -25px;
  margin-top: 11px;
  margin-right: 10px;
  pointer-events: none;
}

.toolbar .divider {
  width: 1px;
  background-color: #eee;
  margin: 0 4px;
}

#block-controls {
  display: block;
  position: absolute;
  right: 10px;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  top: 16px;
  z-index: 10;
  border-radius: 8px;
  border: 1px solid rgb(206, 208, 212);
  overflow: hidden;
}

#block-controls button {
  border: 1px solid white;
  background-color: #fff;
  display: block;
  transition: background-color 0.1s ease;
  cursor: pointer;
  outline: none;
  border-radius: 8px;
  padding: 3px;
}

#block-controls button:hover {
  background-color: #efefef;
}

#block-controls button:focus-visible {
  border-color: blue;
}

#block-controls span.block-type {
  background-size: contain;
  display: block;
  width: 18px;
  height: 18px;
  margin: 2px;
}

#block-controls span.block-type.paragraph {
  background-image: url(/assets/images/icons/text-paragraph.svg);
}

#block-controls span.block-type.h1 {
  background-image: url(/assets/images/icons/type-h1.svg);
}

#block-controls span.block-type.h2 {
  background-image: url(/assets/images/icons/type-h2.svg);
}

#block-controls span.block-type.quote {
  background-image: url(/assets/images/icons/chat-square-quote.svg);
}

#block-controls span.block-type.ul {
  background-image: url(/assets/images/icons/list-ul.svg);
}

#block-controls span.block-type.ol {
  background-image: url(/assets/images/icons/list-ol.svg);
}

#block-controls span.block-type.code {
  background-image: url(/assets/images/icons/code.svg);
}

i.palette {
  background-image: url(/assets/images/icons/palette.svg);
}

i.bucket {
  background-image: url(/assets/images/icons/paint-bucket.svg);
}

i.bold {
  background-image: url(/assets/images/icons/type-bold.svg);
}

i.italic {
  background-image: url(/assets/images/icons/type-italic.svg);
}

i.code {
  background-image: url(/assets/images/icons/code.svg);
}

i.underline {
  background-image: url(/assets/images/icons/type-underline.svg);
}

i.strikethrough {
  background-image: url(/assets/images/icons/type-strikethrough.svg);
}

i.link {
  background-image: url(/assets/images/icons/link.svg);
}

i.horizontal-rule {
  background-image: url(/assets/images/icons/horizontal-rule.svg);
}

.icon.plus {
  background-image: url(/assets/images/icons/plus.svg);
}

i.image {
  background-image: url(/assets/images/icons/file-image.svg);
}

i.table {
  background-image: url(/assets/images/icons/table.svg);
}

i.poll {
  background-image: url(/assets/images/icons/card-checklist.svg);
}

i.tweet {
  background-image: url(/assets/images/icons/tweet.svg);
}

i.youtube {
  background-image: url(/assets/images/icons/youtube.svg);
}

.icon.left-align,
i.left-align {
  background-image: url(/assets/images/icons/text-left.svg);
}

i.center-align {
  background-image: url(/assets/images/icons/text-center.svg);
}

i.right-align {
  background-image: url(/assets/images/icons/text-right.svg);
}

i.justify-align {
  background-image: url(/assets/images/icons/justify.svg);
}

i.indent {
  background-image: url(/assets/images/icons/indent.svg);
}

i.markdown {
  background-image: url(/assets/images/icons/markdown.svg);
}

i.outdent {
  background-image: url(/assets/images/icons/outdent.svg);
}

i.undo {
  background-image: url(/assets/images/icons/arrow-counterclockwise.svg);
}

i.redo {
  background-image: url(/assets/images/icons/arrow-clockwise.svg);
}

i.sticky {
  background-image: url(/assets/images/icons/sticky.svg);
}

i.mic {
  background-image: url(/assets/images/icons/mic.svg);
}

i.import {
  background-image: url(/assets/images/icons/upload.svg);
}

i.export {
  background-image: url(/assets/images/icons/download.svg);
}

i.diagram-2 {
  background-image: url(/assets/images/icons/diagram-2.svg);
}

i.equation {
  background-image: url(/assets/images/icons/plus-slash-minus.svg);
}

.icon.paragraph {
  background-image: url(/assets/images/icons/text-paragraph.svg);
}

.icon.h1 {
  background-image: url(/assets/images/icons/type-h1.svg);
}

.icon.h2 {
  background-image: url(/assets/images/icons/type-h2.svg);
}

.icon.h3 {
  background-image: url(/assets/images/icons/type-h3.svg);
}

.icon.bullet-list,
.icon.ul {
  background-image: url(/assets/images/icons/list-ul.svg);
}

.icon.numbered-list,
.icon.ol {
  background-image: url(/assets/images/icons/list-ol.svg);
}

.icon.quote {
  background-image: url(/assets/images/icons/chat-square-quote.svg);
}

.icon.code {
  background-image: url(/assets/images/icons/code.svg);
}
