:host {
  width: 100%;
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  column-gap: 0.25rem;

  .list-add-new-card-action {
    flex: 1;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
