@import '~@taiga-ui/core/styles/taiga-ui-local';

.card {
  min-height: 40px;
  background-color: var(--tui-base-01);
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 2px 0px;

  @include transition(background-color);

  &:hover {
    background-color: var(--tui-base-02);
  }
}

.title {
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.custom-placeholder {
  background: var(--tui-secondary);
  border-radius: var(--tui-radius-l);
  border: dotted 3px var(--tui-secondary-active);
  min-height: 40px;
  width: 280px;
  z-index: 999;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
