@import '~@taiga-ui/core/styles/taiga-ui-local';

.list-card {
  min-height: 40px;
  background-color: var(--tui-base-01);
  @include transition('background-color');

  &:hover {
    background-color: var(--tui-base-02);
  }
}

.list-title {
  font: var(--tui-font-text-m);
  font-weight: bold;
}

.custom-placeholder {
  background: var(--tui-secondary);
  border-radius: var(--tui-radius-l);
  border: dotted 3px var(--tui-secondary-active);
  min-height: 40px;
  width: 280px;
  z-index: 999;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
