@import '~@taiga-ui/core/styles/taiga-ui-local';

.card {
  min-height: 40px;
  background-color: var(--tui-base-01);
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 2px 0px;

  @include transition(background-color);

  &:hover {
    background-color: var(--tui-base-02);
  }
}

.title {
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1rem !important;
  font-weight: 600;
}

.field-description {
  display: flex;
  column-gap: 4px;
  align-items: center;
}

$priorities: (
  low: (
    color: var(--tui-positive),
  ),
  medium: (
    color: var(--tui-support-07),
  ),
  high: (
    color: var(--tui-negative),
  ),
);

@each $key, $priority in $priorities {
  .priority-#{$key} {
    color: map-get($priority, 'color');
  }
}
