<tui-island *ngIf="card" class="card" size="s" [hoverable]="false">
  <p class="tui-island__category" *ngIf="card.tags.length > 0">
    <tui-tag
      *ngFor="let tag of card.tags"
      [autoColor]="true"
      size="s"
      [value]="tag"
    >
    </tui-tag>
  </p>

  <h4 class="tui-island__title title">
    {{ card.name }}
  </h4>

  <span class="tui-island__paragraph field-description">
    <tui-svg src="tuiIconTime"></tui-svg>
    <ng-container *ngIf="card.expiryDate; else expiryDateFallback">
      <span>Expiry on</span
      ><strong>{{ card.expiryDate | date: 'dd.MM.yyyy' }}</strong>
    </ng-container>
    <ng-template #expiryDateFallback> No expiration date</ng-template>
  </span>

  <span
    class="tui-island__paragraph field-description"
    [ngClass]="card | issuePriorityColor"
  >
    <tui-svg src="tuiIconFlag"></tui-svg>
    <ng-container *ngIf="card.priority; else priorityFallback">
      <strong>{{ card.priority }}</strong>
    </ng-container>
    <ng-template #priorityFallback> No priority</ng-template>
  </span>
</tui-island>
