<tui-island class="card" *ngIf="project; else fallback">
  <div class="card-header">
    <h3 class="tui-island__title card-title">
      {{ project?.name }}
    </h3>
    <tui-badge
      *ngIf="project.visibility === 'public'"
      status="info"
      value="read-only"
    ></tui-badge>
    <tui-hosted-dropdown
      *ngIf="!(isGuest$ | push)"
      tuiDropdownAlign="right"
      [content]="actions"
      (click)="$event.stopPropagation()"
    >
      <button
        appearance="flat"
        tuiIconButton
        icon="tuiIconMoreHorLarge"
        size="s"
      ></button>
    </tui-hosted-dropdown>
    <ng-template #actions>
      <tui-data-list>
        <button tuiOption (click)="deleteProject.emit(project)">Delete</button>
      </tui-data-list>
    </ng-template>
  </div>

  <p class="tui-island__paragraph">
    {{ project?.description ?? 'No description' }}
  </p>

  <div class="card-tag__list tui-space_top-6">
    <ng-container *ngIf="project.tags.length > 0; else noTagsContent">
      <tui-tag
        [autoColor]="true"
        class="tag"
        *ngFor="let tag of project.tags"
        [value]="tag"
      >
      </tui-tag>
    </ng-container>
    <ng-template #noTagsContent>
      <p class="tui-island__paragraph">
        {{ 'No tags' }}
      </p>
    </ng-template>
  </div>
</tui-island>

<ng-template #fallback>
  <tui-island class="card">
    <div class="card__skeleton">
      <div
        class="tui-island__title tui-skeleton tui-skeleton_text tui-skeleton_short"
      ></div>
      <div class="tui-island__title tui-skeleton tui-skeleton_text"></div>
    </div>
  </tui-island>
</ng-template>
