<tui-island
  class="wrapper"
  cdkDrag
  tuiElement
  #ref="elementRef"
  *rxLet="vm$; let vm"
  [cdkDragData]="vm.list"
>
  <div class="list-header" cdkDragHandle>
    {{ vm.list.name }}

    <div class="list-header-actions" *hasWorkspaceAuthorization>
      <tui-hosted-dropdown tuiDropdownAlign="right" [content]="listActionMenu">
        <button size="s" tuiIconButton appearance="flat">
          <tui-svg src="tuiIconMoreHorLarge"></tui-svg>
        </button>
      </tui-hosted-dropdown>
      <ng-template #listActionMenu>
        <tui-data-list>
          <button tuiOption (click)="archiveCategory.emit(vm.list.$id)">
            Archive this list
          </button>
        </tui-data-list>
      </ng-template>
    </div>
  </div>

  <tui-scrollbar>
    <div
      class="tui-island__content"
      [class.tui-space_all-4]="vm.cards.length > 0"
    >
      <app-issue-card-list
        [cards]="vm.cards"
        [list]="vm.list"
        (dropEvent)="moveCard.emit($event)"
        (archiveCard)="archiveCard.emit($event)"
      ></app-issue-card-list>
    </div>
  </tui-scrollbar>

  <div class="tui-island__content tui-space_all-4 list-add-card">
    <app-add-issue-card
      *hasWorkspaceAuthorization
      (confirmEvent)="addCard.emit({ name: $event, $categoryId: vm.list.$id })"
    ></app-add-issue-card>
  </div>

  <div
    class="list-wrapper-drag-placeholder"
    [style.height.px]="ref.nativeElement.clientHeight"
    *cdkDragPlaceholder
  ></div>
</tui-island>
