<div
  class="tui-container tui-container_fullwidth main-wrapper tui-row tui-space_all-0"
>
  <div class="tui-container tui-container_fullwidth wrapper tui-space_all-0">
    <div
      class="project-kanban-title"
      *rxLet="project$; let project; strategy: 'local'"
    >
      <tui-breadcrumbs size="l">
        <ng-container *ngFor="let item of breadcrumb">
          <a *tuiBreadcrumb tuiLink [routerLink]="item.routerLink">
            {{ item.caption }}
          </a>
        </ng-container>
        <a
          *tuiBreadcrumb
          tuiLink
          [routerLink]="['/project', project.$id]"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLinkActive]="'active'"
        >
          {{ project.name }}
        </a>
      </tui-breadcrumbs>

      <div class="tui-row tui-space_all-0 tui-row_align_center">
        <h1 class="tui-space_right-4">{{ project.name }}</h1>

        <ng-container *hasWorkspaceAuthorization>
          <ng-container *rxLet="adapter.workspace$; let workspace">
            <app-kanban-membership-list
              *ngIf="workspace && workspace.team"
              [members]="workspace.members"
              (removeMember)="adapter.ui.removeMember($event)"
              (addMember)="adapter.ui.addMember($event)"
            ></app-kanban-membership-list>
          </ng-container>
        </ng-container>
        <div class="project-kanban-actions">
          <button
            tuiButton
            appearance="accent"
            size="s"
            (click)="showArchived = !showArchived"
          >
            Archived
          </button>
        </div>
      </div>
    </div>

    <div
      cdkDropListGroup
      class="tui-space_top-4 droplist-wrapper"
      style="overflow: hidden"
      *rxLet="categories$; let categories; strategy: 'native'"
    >
      <tui-scrollbar #scrollEl="elementRef" tuiElement class="scrollbar">
        <div class="content">
          <div
            class="list-grid-wrapper"
            cdkDropList
            [cdkDropListOrientation]="'horizontal'"
            [cdkDropListData]="categories"
            (cdkDropListDropped)="onCategoryDrop($event)"
          >
            <div
              cdkDropListGroup
              class="list-grid"
              *rxLet="groupedCards$; let groupedCards"
            >
              <app-kanban-list
                *rxFor="
                  let list of categories;
                  strategy: 'native';
                  trackBy: categoriesTrackBy;
                  let index = index
                "
                [list]="list"
                [cards]="groupedCards[list.$id]"
                (addCard)="ui.addCard($event)"
                (moveCard)="ui.moveCard($event)"
                (archiveCard)="ui.archiveCard({ $id: $event })"
                (archiveCategory)="ui.archiveCategory({ $id: $event })"
              ></app-kanban-list>

              <app-kanban-add-list
                *hasWorkspaceAuthorization
                class="list-wrapper"
                (confirmEvent)="
                  ui.addCategory({
                    name: $event,
                    scrollRef: scrollEl.nativeElement
                  })
                "
              ></app-kanban-add-list>
            </div>
          </div>
        </div>
      </tui-scrollbar>
    </div>
  </div>
  <app-kanban-archived-menu *ngIf="showArchived"></app-kanban-archived-menu>
</div>
