@import '~@taiga-ui/core/styles/taiga-ui-local';

:host {
  background-color: var(--tui-base-01);
  display: block;
  margin: 0;
  padding: var(--tui-padding-l);
}

.list-grid {
  display: flex;
  gap: 3rem;
}

.cdk-drag-preview {
  will-change: auto;
  box-sizing: border-box;
  border-radius: 4px;
  @include shadow(1);
}

.cdk-drag-animating {
  will-change: auto;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.cdk-drop-list-dragging .list-wrapper:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list-wrapper-drag-placeholder {
  background: var(--tui-secondary);
  border-radius: var(--tui-radius-l);
  border: dotted 3px var(--tui-secondary-active);
  min-height: 60px;
  width: 280px;
  z-index: 999;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list-wrapper {
  width: 280px;
  height: 100%;
  margin: 0;
  display: inline-block;
  background-color: var(--tui-base-01);
  padding: 0;
  cursor: pointer;
}

.list-header {
  font: var(--tui-font-text-l);
  padding: var(--tui-padding-l);
  font-weight: bold;
  margin-bottom: var(--tui-height-s);
  display: flex;
  align-items: center;

  .list-header-actions {
    margin-left: auto;
  }
}

.list-content {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  height: 100%;
  width: 100%;
}

.list-title-add {
  display: flex;
  align-items: center;
}

.list-add-new-card-action {
  width: 100%;
  flex: 1;
}

.project-kanban-title {
  display: flex;
  flex-direction: column;
  width: 100%;
}
