@import '~@taiga-ui/core/styles/taiga-ui-local';

:host {
  background-color: var(--tui-base-02);
  margin: 0;
  height: 100%;
}

.main-wrapper {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  padding: 0;
  margin: 0;

  > .wrapper {
    flex: 1;
    overflow: hidden;
  }
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.project-kanban-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--tui-padding-l);
}

.project-kanban-actions {
  margin-left: auto;
}
