:host {
  width: 280px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  margin: 0;
}

.wrapper {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .list-wrapper:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list-wrapper-drag-placeholder {
  background: var(--tui-secondary);
  border-radius: var(--tui-radius-l);
  border: dotted 3px var(--tui-secondary-active);
  min-height: 60px;
  width: 280px;
  z-index: 999;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

tui-island {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
}

.list-header {
  font: var(--tui-font-text-l);
  padding: var(--tui-padding-l);
  font-weight: bold;
  display: flex;
  align-items: center;
  flex: 1;

  .list-header-actions {
    margin-left: auto;
  }
}

.list-add-card {
  flex: 1;
}
