<div
  class="tui-container tui-container_adaptive"
  *rxLet="card$; let card; rxSuspense: suspense"
>
  <div class="header">
    <h1 class="tui-text header-text" *ngIf="!editingTitle; else editingContent">
      {{ card.name }}
      <button
        tuiIconButton
        icon="tuiIconEditLarge"
        appearance="flat"
        class="action"
        (click)="editingTitle = !editingTitle"
      ></button>
    </h1>
    <div class="header-actions" *ngIf="!card.archived">
      <button
        tuiButton
        icon="tuiIconCloseCircleLarge"
        appearance="flat"
        (click)="archive()"
      >
        Archive
      </button>
    </div>
    <ng-template #editingContent>
      <tui-input
        class="title-edit-input"
        [formControl]="title"
        tuiAutoFocus
        tuiTextfieldSize="m"
        (tuiActiveZoneChange)="onZoneChange($event)"
        (keydown.escape)="onEsc($event)"
        (keydown.enter)="onUpdateTitle()"
        [tuiTextfieldLabelOutside]="true"
      >
        {{ card.name }}
      </tui-input>
    </ng-template>
  </div>

  <tui-notification
    status="warning"
    class="tui-space_bottom-4"
    *ngIf="card.archived"
  >
    <div style="display: flex; justify-content: space-between">
      This card is archived.
      <button
        tuiButton
        size="xs"
        appearance="accent"
        class="tui-space_left-auto"
        (click)="undoArchive()"
      >
        Undo
      </button>
    </div>
  </tui-notification>

  <div class="tui-space_top-12">
    <div class="editor-metadata">
      <div class="metadata-title">
        <tui-svg src="tuiIconBookmark" size="s"></tui-svg>
        Category
      </div>
      <div class="metadata-input">
        <tui-tag value="Categoria" [autoColor]="true"></tui-tag>
      </div>
    </div>
  </div>

  <div class="tui-space_top-6">
    <div class="editor-metadata">
      <div class="metadata-title">
        <tui-svg src="tuiIconTime" size="s"></tui-svg>
        Expiration date
      </div>
      <div class="metadata-input">
        12 feb
        <!--      <tui-input-date-time tuiTextfieldSize="s"></tui-input-date-time>-->
      </div>
    </div>
  </div>

  <div class="tui-space_top-6">
    <div class="editor-metadata">
      <div class="metadata-title">
        <tui-svg src="tuiIconFlag" size="s"></tui-svg>
        Priority
      </div>
      <div class="metadata-input">
        <tui-tag value="HIGH" status="error"></tui-tag>
      </div>
    </div>
  </div>

  <h3 class="tui-space_top-12">Description</h3>

  <div class="editor-shell tui-space_top-12" [style.height.%]="100">
    <app-lexical-editor
      [content]="card.content"
      (editorChange)="editorChange($event)"
    ></app-lexical-editor>
  </div>
</div>

<ng-template #suspense>
  <tui-loader
    size="xxl"
    class="suspense-loader"
    [textContent]="'Loading data...'"
    [overlay]="true"
  ></tui-loader>
</ng-template>
