@import '~@taiga-ui/core/styles/taiga-ui-local';

:host {
  background-color: var(--tui-base-02);
  height: 100vh;
  width: 100vw;
  display: block;
}

.suspense-loader {
  height: 100%;
}

.header {
  display: flex;
  width: 100%;
  padding-top: 6rem;
  align-items: center;
  justify-content: space-between;

  .header-text {
    display: flex;
    align-items: center;
    margin: 0;
    width: 100%;
    flex: 1;

    h1 {
      margin: 0;
    }

    .action {
      margin-left: var(--tui-padding-s);
    }
  }

  .title-edit-input {
    flex: 1;
  }
}

.header-actions {
  margin-left: var(--tui-padding-m);
  display: flex;
  column-gap: 0.25rem;
}

.editor-shell {
  min-height: 600px;
}

.editor-metadata {
  display: flex;
  margin-bottom: 2rem;

  .metadata-title {
    max-width: 200px;
    width: 100%;
    font-weight: 500;
    color: var(--tui-text-01);
  }

  .metadata-input {
  }
}
