.menu {
  height: 100%;
  width: 450px;
  flex: 1;
  background-color: var(--tui-base-01);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

  .menu-scrollbar {
    height: 100%;
  }
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: var(--tui-padding-s);
}
